flows.json
[{"id":"fe6585d63d7f54d8","type":"tab","label":"Flux 1","disabled":false,"info":"","env":[]},{"id":"e2a7462252cde1b0","type":"function","z":"fe6585d63d7f54d8","name":"Récupérer BPM","func":"msg.payload = msg.payload.uplink_message.decoded_payload.heartRate;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":340,"wires":[["9a8ed9c420040795","eba744bf6e66bc02","bf43c5956f94ebc4"]]},{"id":"8db4265a4c399193","type":"ui_toast","z":"fe6585d63d7f54d8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"ATTENTION SUPERIEUR A 100","topic":"ATTENTION SUPERIEUR A 100","name":"ATTENTION SUPERIEUR A 100","x":1000,"y":360,"wires":[]},{"id":"ee62928fe9071584","type":"ui_toast","z":"fe6585d63d7f54d8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"ATTENTION INFERIEUR A 60","topic":"ATTENTION INFERIEUR A 60","name":"ATTENTION INFERIEUR A 60","x":980,"y":420,"wires":[]},{"id":"c510d561f225f94e","type":"ui_chart","z":"fe6585d63d7f54d8","name":"","group":"4096e3ec3d978c3a","order":8,"width":"16","height":"6","label":"Historique graphique","chartType":"line","legend":"false","xformat":"YYYY-MM-DD HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1230,"y":720,"wires":[[]]},{"id":"4926ab87e0106edd","type":"ui_date_picker","z":"fe6585d63d7f54d8","name":"","label":"Date de début","group":"bcaa737c71fa6efc","order":2,"width":"9","height":"1","passthru":true,"topic":"","topicType":"str","className":"","x":280,"y":100,"wires":[["925df1153f89dccb"]]},{"id":"8d4446880832da58","type":"ui_date_picker","z":"fe6585d63d7f54d8","name":"","label":"Date de fin","group":"bcaa737c71fa6efc","order":4,"width":"9","height":"1","passthru":true,"topic":"endDate","topicType":"msg","className":"","x":270,"y":160,"wires":[["876c9df1bf56cd81"]]},{"id":"925df1153f89dccb","type":"change","z":"fe6585d63d7f54d8","name":"","rules":[{"t":"set","p":"date_debut","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":100,"wires":[[]]},{"id":"876c9df1bf56cd81","type":"change","z":"fe6585d63d7f54d8","name":"","rules":[{"t":"set","p":"date_fin","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":160,"wires":[[]]},{"id":"412af836dbc6c11d","type":"postgresql","z":"fe6585d63d7f54d8","name":"Insert ","query":"INSERT INTO bpm_data (timestamp, bpm) VALUES ($1, $2);","postgreSQLConfig":"53dd661b3af8009e","split":false,"rowsPerMsg":1,"outputs":1,"x":880,"y":640,"wires":[[]]},{"id":"eba744bf6e66bc02","type":"function","z":"fe6585d63d7f54d8","name":"format for INSERT","func":"const now = new Date();\n\n// Formater la date en \"YYYY-MM-DD HH:mm:ss\"\nconst formattedDate = now.getFullYear() + '-' +\n    String(now.getMonth() + 1).padStart(2, '0') + '-' +\n    String(now.getDate()).padStart(2, '0') + ' ' +\n    String(now.getHours()).padStart(2, '0') + ':' +\n    String(now.getMinutes()).padStart(2, '0') + ':' +\n    String(now.getSeconds()).padStart(2, '0');\n\n// Préparer les paramètres pour PostgreSQL\nmsg.params = [\n    formattedDate,\n    msg.payload\n];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":640,"wires":[["412af836dbc6c11d"]]},{"id":"ce3a04f51c4ecffa","type":"postgresql","z":"fe6585d63d7f54d8","name":"SELECT","query":"SELECT timestamp, bpm FROM bpm_data ORDER BY timestamp ASC;","postgreSQLConfig":"53dd661b3af8009e","split":false,"rowsPerMsg":1,"outputs":1,"x":730,"y":720,"wires":[["18cd737c10174221"]]},{"id":"18cd737c10174221","type":"function","z":"fe6585d63d7f54d8","name":"Format for chart","func":"let chartData = [];\n\n// Parcourir les résultats SQL et les formater\nmsg.payload.forEach(row => {\n    chartData.push({ x: new Date(row.timestamp), y: row.bpm });\n});\n\n// Formater pour le nœud chart\nmsg.payload = [{\n    series: [\"BPM\"],\n    data: [chartData],\n    labels: [\"BPM over Time\"]\n}];\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":720,"wires":[["c510d561f225f94e"]]},{"id":"9a8ed9c420040795","type":"ui_gauge","z":"fe6585d63d7f54d8","name":"","group":"4096e3ec3d978c3a","order":7,"width":"16","height":"6","gtype":"gage","title":"BPM du patient","label":"BPM","format":"{{value}}","min":"35","max":"125","colors":["#ff0000","#80ff00","#ff0000"],"seg1":"60","seg2":"100","diff":false,"className":"","x":750,"y":340,"wires":[]},{"id":"312ee475774c0cd3","type":"delay","z":"fe6585d63d7f54d8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":510,"y":720,"wires":[["ce3a04f51c4ecffa"]]},{"id":"bf43c5956f94ebc4","type":"switch","z":"fe6585d63d7f54d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"seuil_max","vt":"flow"},{"t":"lt","v":"seuil_min","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":400,"wires":[["8db4265a4c399193"],["ee62928fe9071584"]]},{"id":"b2850fca69ef7667","type":"mqtt in","z":"fe6585d63d7f54d8","name":"MQTT","topic":"v3/temp-hum-ceri-c133@ttn/devices/eui-juleseddy/up","qos":"2","datatype":"auto-detect","broker":"2233142a3ff27f63","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":340,"wires":[["e2a7462252cde1b0","312ee475774c0cd3","8c3ddfc1368708ac"]]},{"id":"56d361c874c151b4","type":"ui_button","z":"fe6585d63d7f54d8","name":"","group":"bcaa737c71fa6efc","order":6,"width":"9","height":"1","passthru":true,"label":"Soumettre","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":270,"y":240,"wires":[["5594c696cdea5a9d"]]},{"id":"84d69d3cbe0df6fd","type":"postgresql","z":"fe6585d63d7f54d8","name":"Select BPM between timestamps","query":"\nSELECT timestamp, bpm\n  FROM bpm_data\n  WHERE timestamp BETWEEN $1 AND $2\n  ORDER BY timestamp ASC;\n","postgreSQLConfig":"53dd661b3af8009e","split":false,"rowsPerMsg":1,"outputs":1,"x":900,"y":240,"wires":[["b55bac0c9d6d50d6","a0f78a2333734250"]]},{"id":"9a8a8677c748b08d","type":"ui_table","z":"fe6585d63d7f54d8","group":"bcaa737c71fa6efc","name":"tableau","order":8,"width":"9","height":"6","columns":[{"field":"date","title":"date","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"bpm","title":"bpm","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1360,"y":240,"wires":[]},{"id":"5594c696cdea5a9d","type":"function","z":"fe6585d63d7f54d8","name":"format for Select","func":"// Récupérer les dates stockées dans le flow\n\nlet dateDebut = flow.get(\"date_debut\") || null;\nlet dateFin = flow.get(\"date_fin\") || null;\n\n// Vérifier si les deux dates sont disponibles\n\nif (!dateDebut || !dateFin) {\n    node.error(\"Veuillez sélectionner les deux dates\");\n    return null;\n\n}\n\nif (dateDebut && dateFin) {\n    let formattedStartDate = new Date(dateDebut).toISOString();\n    let formattedEndDate = new Date(dateFin).toISOString();\n\n    return {\n        params: [formattedStartDate, formattedEndDate]\n    }\n\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":240,"wires":[["84d69d3cbe0df6fd"]]},{"id":"b55bac0c9d6d50d6","type":"function","z":"fe6585d63d7f54d8","name":"Format for chart","func":"\nlet chartData = [];\n\n// Parcourir les résultats SQL et les formater\nmsg.payload.forEach(row => {\n    chartData.push({ x: new Date(row.timestamp), y: row.bpm });\n});\n\n// Formater pour le nœud chart\nmsg.payload = [{\n    series: [\"BPM\"],\n    data: [chartData],\n    labels: [\"BPM over Time\"]\n}];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":160,"wires":[["2313ef6d93955230"]]},{"id":"2313ef6d93955230","type":"ui_chart","z":"fe6585d63d7f54d8","name":"","group":"bcaa737c71fa6efc","order":9,"width":"15","height":"6","label":"Graphique daté","chartType":"line","legend":"false","xformat":"YYYY-MM-DD HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1360,"y":160,"wires":[[]]},{"id":"8c3ddfc1368708ac","type":"function","z":"fe6585d63d7f54d8","name":"SNR ET RSSI","func":"var values = msg.payload.uplink_message.rx_metadata[0];\n\nmsg.rssi = values.rssi;\nmsg.snr = values.snr;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":280,"wires":[["2c03a497a3d8cb45","22d2f9884e2c59dd"]]},{"id":"22d2f9884e2c59dd","type":"ui_text","z":"fe6585d63d7f54d8","group":"4096e3ec3d978c3a","order":6,"width":"8","height":"1","name":"","label":"RSSI","format":"{{msg.rssi}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":700,"y":240,"wires":[]},{"id":"2c03a497a3d8cb45","type":"ui_text","z":"fe6585d63d7f54d8","group":"4096e3ec3d978c3a","order":5,"width":"8","height":"1","name":"","label":"SNR","format":"{{msg.snr}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":700,"y":300,"wires":[]},{"id":"915aa9ea32e7b5c5","type":"ui_slider","z":"fe6585d63d7f54d8","name":"","label":"Seuil minimal","tooltip":"","group":"4096e3ec3d978c3a","order":1,"width":"13","height":"1","passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"20","max":"80","step":1,"className":"","x":740,"y":500,"wires":[["dc7dd6a5e9dc6a64","ddcc60c6be532fa9"]]},{"id":"fdd3e17da09a78b6","type":"ui_slider","z":"fe6585d63d7f54d8","name":"","label":"Seuil maximal","tooltip":"","group":"4096e3ec3d978c3a","order":3,"width":"13","height":"1","passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"82","max":"105","step":1,"className":"","x":750,"y":560,"wires":[["211b748166125bd3","42d2b9b6067543f6"]]},{"id":"211b748166125bd3","type":"change","z":"fe6585d63d7f54d8","name":"","rules":[{"t":"set","p":"seuil_max","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":560,"wires":[[]]},{"id":"dc7dd6a5e9dc6a64","type":"change","z":"fe6585d63d7f54d8","name":"","rules":[{"t":"set","p":"seuil_min","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":500,"wires":[[]]},{"id":"ddcc60c6be532fa9","type":"ui_text","z":"fe6585d63d7f54d8","group":"4096e3ec3d978c3a","order":2,"width":"2","height":"1","name":"min","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":880,"y":460,"wires":[]},{"id":"42d2b9b6067543f6","type":"ui_text","z":"fe6585d63d7f54d8","group":"4096e3ec3d978c3a","order":4,"width":"2","height":"1","name":"ùax","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":920,"y":600,"wires":[]},{"id":"f4ad863ab1db3203","type":"ui_text","z":"fe6585d63d7f54d8","group":"bcaa737c71fa6efc","order":1,"width":"4","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":370,"y":4040,"wires":[]},{"id":"84b801c52bfde6c0","type":"ui_text","z":"fe6585d63d7f54d8","group":"bcaa737c71fa6efc","order":5,"width":"4","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":870,"y":4040,"wires":[]},{"id":"f9edb48c88bba13e","type":"ui_text","z":"fe6585d63d7f54d8","group":"bcaa737c71fa6efc","order":3,"width":"4","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":690,"y":4040,"wires":[]},{"id":"8e426ddb7a7987a7","type":"ui_text","z":"fe6585d63d7f54d8","group":"bcaa737c71fa6efc","order":7,"width":"4","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":530,"y":4040,"wires":[]},{"id":"a0f78a2333734250","type":"function","z":"fe6585d63d7f54d8","name":"Format for table","func":"let formattedData = [];\n\n// Fonction pour formater une date en \"YYYY-MM-DD HH:mm:ss\"\nfunction formatDate(timestamp) {\n    let d = new Date(timestamp);\n    return d.getFullYear() + '-' +\n        String(d.getMonth() + 1).padStart(2, '0') + '-' +\n        String(d.getDate()).padStart(2, '0') + ' ' +\n        String(d.getHours()).padStart(2, '0') + ':' +\n        String(d.getMinutes()).padStart(2, '0') + ':' +\n        String(d.getSeconds()).padStart(2, '0');\n}\n\n// Parcourir les résultats SQL et formater la date\nmsg.payload.forEach(row => {\n    formattedData.push({\n        date: formatDate(row.timestamp), // Formatage de la date\n        bpm: row.bpm // Garder le BPM tel quel\n    });\n});\n\n// Envoyer les données formatées pour le tableau\nmsg.payload = formattedData;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":240,"wires":[["9a8a8677c748b08d"]]},{"id":"4096e3ec3d978c3a","type":"ui_group","name":"Graphic BPM","tab":"180f7e30543db236","order":1,"disp":true,"width":"16","collapse":false,"className":""},{"id":"bcaa737c71fa6efc","type":"ui_group","name":"Date donnée","tab":"180f7e30543db236","order":2,"disp":true,"width":"15","collapse":false,"className":""},{"id":"53dd661b3af8009e","type":"postgreSQLConfig","name":"heart rate","host":"localhost","hostFieldType":"str","port":"5432","portFieldType":"num","database":"heart_rate_db","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"juleseddy","userFieldType":"str","password":"juleseddy","passwordFieldType":"str"},{"id":"2233142a3ff27f63","type":"mqtt-broker","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"180f7e30543db236","type":"ui_tab","name":"dashbard","icon":"dashboard","disabled":false,"hidden":false}]